Repository pnpm/pnpm, pull requests merged in 2019-11, with the labels that each got.

#2126 feat(publishConfig): add additional well-known fields
  packages/pnpm/src/cmd/publish.ts
  packages/pnpm/test/publish.ts
  packages/types/src/package.ts
Labels: type: feature

#2137 feat: update workpace dependencies
  packages/supi/package.json
  packages/supi/src/guessPinnedVersionFromExistingSpec.ts
  packages/supi/src/install/getWantedDependencies.ts
  packages/supi/src/install/index.ts
  packages/supi/src/parseWantedDependencies.ts
  packages/supi/src/utils/getPref.ts
  packages/supi/test/install/multipleImporters.ts
  pnpm-lock.yaml
  typings/typed.d.ts
Labels: area: multi-package repo

#2142 fix(outdated): a dep is not outdated if it's newer than current
  packages/outdated/package.json
  packages/outdated/src/index.ts
  packages/outdated/test/index.ts
  pnpm-lock.yaml
Labels: area: outdated

#2143 feat: peerDependenciesMeta implies peerDependencies
  package.json
  packages/resolve-dependencies/src/resolveDependencies.ts
  packages/supi/test/install/peerDependencies.ts
  pnpm-lock.yaml
Labels: area: peers

#2153 feat: audit
  package.json
  packages/audit/README.md
  packages/audit/example.js
  packages/audit/package.json
  packages/audit/src/index.ts
  packages/audit/src/lockfileToAuditTree.ts
  packages/audit/src/types.ts
  packages/audit/test/index.ts
  packages/audit/test/lockfileToAuditTree.ts
  packages/audit/tsconfig.json
  packages/audit/tslint.json
  packages/config/src/Config.ts
  packages/config/src/index.ts
  packages/pnpm/package.json
  packages/pnpm/src/cmd/audit.ts
  packages/pnpm/src/cmd/help.ts
  packages/pnpm/src/cmd/index.ts
  packages/pnpm/src/cmd/outdated.ts
  packages/pnpm/src/cmd/recursive/outdated.ts
  packages/pnpm/src/main.ts
  packages/pnpm/src/style.ts
  packages/pnpm/test/audit.ts
  packages/pnpm/test/index.ts
  packages/pnpm/test/packages/.npmrc
  packages/pnpm/test/packages/has-vulnerabilities/package.json
  packages/pnpm/test/packages/has-vulnerabilities/pnpm-lock.yaml
  pnpm-lock.yaml
  verdaccio.yaml
Labels: area: audit

#2172 Fixes #2171
  packages/npm-resolver/src/index.ts
  packages/npm-resolver/test/index.ts
Labels: area: multi-package repo, type: bug

#2019 refactor(typings): Clean‑up third‑party type definitions
  packages/default-reporter/package.json
  packages/dependencies-hierarchy/package.json
  packages/git-resolver/package.json
  packages/local-resolver/package.json
  packages/lockfile-file/package.json
  packages/lockfile-file/src/write.ts
  packages/package-requester/package.json
  packages/package-store/package.json
  packages/pnpm/package.json
  packages/pnpm/src/bin/pnpm.ts
  packages/pnpm/src/bin/pnpx.ts
  packages/pnpm/src/cmd/pack.ts
  packages/pnpm/src/cmd/publish.ts
  packages/pnpm/test/recursive/run.ts
  packages/pnpm/test/utils/execPnpm.ts
  packages/supi/package.json
  packages/supi/src/install/index.ts
  packages/supi/src/install/resolvePeers.ts
  packages/tarball-fetcher/src/createDownloader.ts
  pnpm-lock.yaml
  privatePackages/assert-project/package.json
  typings/local.d.ts
  typings/typed.d.ts
Labels: type: refactor
