Repository pnpm/pnpm, pull requests merged in 2022-07, with the labels that each got.

#5054 feat: add `lockfile-include-tarball-url` option
  .changeset/proud-items-fold.md
  packages/config/src/Config.ts
  packages/config/src/index.ts
  packages/core/src/install/extendInstallOptions.ts
  packages/core/src/install/index.ts
  packages/core/test/lockfile.ts
  packages/plugin-commands-installation/src/install.ts
  packages/plugin-commands-installation/src/installDeps.ts
  packages/plugin-commands-installation/src/recursive.ts
  packages/plugin-commands-installation/src/update/index.ts
  packages/resolve-dependencies/src/index.ts
  packages/resolve-dependencies/src/updateLockfile.ts
Labels: type: feature, area: lockfile

#5074 fix(deploy): don't modify the lockfile and fail in CI
  .changeset/clever-guests-heal.md
  .changeset/clever-guests-heal2.md
  .changeset/wise-guests-turn.md
  packages/core/src/install/extendInstallOptions.ts
  packages/core/src/install/index.ts
  packages/plugin-commands-deploy/src/deploy.ts
  packages/plugin-commands-deploy/test/deploy.test.ts
  packages/plugin-commands-installation/src/install.ts
Labels: area: deploy

#5089 fix: symlink a workspace pkg correctly, when it has a custom publish dir
  .changeset/chilled-penguins-hang.md
  .changeset/fifty-otters-perform.md
  .changeset/tasty-elephants-battle.md
  packages/core/test/install/multipleImporters.ts
  packages/exportable-manifest/src/index.ts
  packages/npm-resolver/src/index.ts
  packages/plugin-commands-publishing/src/pack.ts
  packages/plugin-commands-publishing/test/pack.ts
Labels: area: monorepo, area: publishing

#5026 fix: plugin-commands-deploy use path resolve on deploy target dir
  .changeset/fair-foxes-know.md
  packages/plugin-commands-deploy/src/deploy.ts
Labels: area: deploy

#5110 fix: don't include specifiers field in new experimental lockfile format
  packages/lockfile-file/src/write.ts
  packages/lockfile-file/test/normalizeLockfile.test.ts
  packages/lockfile-utils/src/satisfiesPackageManifest.ts
Labels: area: lockfile
